@model IEnumerable<MingPlayGround.Models.Exercice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Search" method="post">
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search...">
        <span class="toggle-btn" id="toggleCheckboxDiv">&#9660;</span>
    </div>
    <div id="checkboxDiv" class="hidden">
        <div class="form-control">
            <label>Exercise Type</label>
            <div>
                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ExerciseType)
            {
                <label class="checkbox-item">
                    <input type="checkbox" class="form-check-input" name="ExerciseType" value="@item.Value">
                    @item.Text
                </label>
            }
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationSecondes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetitions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationSecondes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repetitions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
